header {
  padding: 30px;
  background: #011627;
  display: flex;
  justify-content: space-between;
}
.header-left{
  cursor: pointer;
}
.header-right{
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 20px;
  align-items: center;
}
.notification{
  cursor: pointer;
  position: relative;
}
.notification-alert{
  position: absolute;
  padding: 4px;
  background-color: rgb(255, 57, 57);
  border-radius: 50%;
  right: 0;
}
.header-right a {
  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
 gap: 10px;
  font-weight: 500;
  font-size: 18px;
}
